/* HTML: <div class="loader"></div> */
/*login*/
*{
	font-family: sans-serif;
}
.caja_Examenes{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
	height: 100vh;
}
hr{
	opacity: 0;
	border-radius: 200% 0 0 0 ;
}
#nav_a_containers{
	overflow-y: auto;
	height: 100%;
	overflow-x: hidden;
	scrollbar-width: thin;
}
#loadderForExa{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
#statusforconfigExa{
	z-index: 100;
	position: absolute;
	right: 1%;
	bottom: 1%;
}
#exa_cash_adjustments{
	transition: 0.6s;
	overflow: auto;
 scrollbar-width: thin;
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%,-50%);
	background: white;
	height: 70vh;
	width: 100%;
	border-radius: 15px;
}
.promptOne{
	float: left;
	width: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-0%,-50%);
	background: royalblue;
	height: 100%;
	border-radius: 0 0 245px 0;
  transition: 0.4s;
}
/*.promptOne:hover{
	border-radius: 0 0 0 0;
}*/
.promptOpcional{
	color:black;
	height: 100%;
	background: whitesmoke;
	width: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
	border-radius: 0 0 245px 0;
}
.inputsForPromptOne{
	display: block;
	border-radius: 7px;
	padding: 5px;
  border: none;
  margin: 10px;
}
.labelForPromptOne{
	display: block;
	padding: 5px;
  border: none;
  margin: 10px;
  color: white;
}
.promptInputForTIME{
	width: 100%;
display: block;
float: left;
padding: 10px;
}
#ramConfig{
	position: absolute;
	right: 5%;
	bottom:7%;
	z-index: 1000;
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
	width: 20%;
	padding: 10px;
	cursor: pointer;
}
.cajaForPromptCheckBox{
	width: 100%;
display: block;
float: left;
padding: 10px;
}
.checkbox{
margin: 5px;
cursor: pointer;
}
.inputTime{
		display: none;
		border-radius: 7px;
	padding: 5px;
  border: none;
  box-shadow: 0 0 3px black;
  width: 100px;
  margin: 5px;
}
#contenedorParaExamenes{
	transition: 0.6s;
	overflow: auto;
 scrollbar-width: thin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: white;
	height: 70vh;
	width: 100%;
	border-radius: 15px;
}
#contenedorParaExamenes h1{
	padding: 10px;
	font-size: 15px;
}
#nav_For_exam{
	margin-top: 20px;
	display: block;
	width: 90%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 2px black;
	text-align: left;
}
#nav_For_exam a{
	margin: 10px;
	text-decoration: none;
	background: white;
	color: black;
	box-shadow: 0 0 5px black;
	padding: 5px;
	border-radius: 5px;
}
#nav_For_exam a:hover{
	box-shadow: 0 0 1px black;
}
#nav_For_exam a:focus{
	box-shadow: 0 0 4px blue;
}
#statusNav{
display: inline-block;
float: right;
}
.pushBox{
	display: flex;
	justify-content: center;
	align-items: center;
	 padding: 30px;
	 height:auto;
/*	 box-shadow: 0 0 5px black;*/
}
.pushBox input{
	float: left;
  box-shadow:0 0 5px black;
	border-radius: 5px;
	background: white;
	color: black;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
	width: 80%;
	padding: 15px;
	cursor: pointer;
	border: none;
}
.pushBox input:hover{
	box-shadow:0 0 2px black;
}
.pushBox input:focus{
	box-shadow:0 0 3px black;
}
.pushBox label {
	position: absolute;
	padding: 1px;
		border: none;
	display: none;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	height: 10%;
	width: 70%;
}
.pushBox img{
cursor: pointer;
margin: 5px;
float: right;
display: inline-block;
}
.pushBox img:hover > .pushBox input{
 border: solid 4px red;
}
#buttonSendExa{
	font-size: 19px;
	transition: 0.2s;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 10px;
  background: white;
  box-shadow: 0 0 5px black;
	border: none;
	border-radius:5px;
	color: black;
	padding: 10px;
	width: 20%;
	cursor: pointer;
	float: right;
}
#buttonSendExa:hover{
background-color: royalblue;
color: white;
}
.sobrePonerForNav{
	top:-10px;
	 position: absolute;
	 width: 100%;
	 z-index: 1000;
	 height: 103vh;
	 background-color: rgba(30, 30, 30, 0.2);
	 backdrop-filter: blur(10px);
	 display: none;
}
.barraExpandirNav{
	position: absolute;
	top: 50%;
	right: -66%;
	transform: rotate(-90deg);
	transition: 0.4s;
	border-radius: 0 0 8px 8px;
  background: #12151c;
/*	box-shadow: 0 0 20PX BLACK;*/
}
.p_nav_a{
   font-size: 1px;
		width: 1px;
	display: none;
}
#saludoP{
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.promptAtajos{
	transform:;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%,-60%) ;
}
.promptAtajos a{
	transition: 0.1s;
		text-decoration: none;
	margin: 2px;
	background-color: rgba(30, 30, 30,0.7);
	color: white;
 padding: 5px;
 border-radius: 5px;
 padding: 9px;
border: solid 4px transparent;
width:1%;
}
.promptAtajos a:hover{
color: white;
  cursor: pointer;
  border: solid 3px white;
}
@keyframes animacionFlip{
	0%{  

	}
	100%{
border: solid 4px transparent;
	}
}
.hours{
	position: absolute;
	top: 20%;
	right: 20%;
}
.hours p{
	color: white!important;
	font-size: 19px;
display: inline-block;
}
.nav_ecrtro{
	box-sizing: border-box;
	position: relative;
	padding-top: 30px;
	display: inline-block;
	transition: padding 0.4s, all 0.2s;
	display: block;
	background: #12151c ;
	height: 100vh;
	width: 70px;
	z-index: 1000000;
	top: 0;
	border-radius:1px;
	box-shadow: 0 0 20PX BLACK;
	cursor: pointer;
}
.nav_ecrtro a{
	cursor:pointer;
    width:90%;
	padding: 5px;
	margin: 5px;
	display:inline-block;
    text-decoration: none;
    color: white;
}
.nav_ecrtro a:hover{
	border-radius: 5px;
	background-color: rgba(30, 30, 30, 6);}
.nav_ecrtro i{
	padding: 10px;
	margin-right: 15px;
	color: white;
	display: inline-block;
	
}
.userImg{
	transition:  0.4s!important;
	transition: width 0.6s!important;
	transition:  margin 10s!;
	width: 50px;
	margin: 10px;
	border-radius: 50%;
}
.certificate{
	color: #1e56be !important;
}
.userName{
	width: 200px;
	transition: 0.4s;
	color: transparent;
    padding: 10px;
}
#statusName{
	color: transparent;
	font-size: 12px;
}
.contentPrymari{
	width: 600px;
	position: absolute;
	left: 40%;
	font-size: 20px;
	top: 10%;
}
.contentSecondary{
	display: inline-block;
}
#locationP{
	position: absolute;
	right: 20px;
   top: 50px;
	font-size: 10px;
	width: 100%;
}
#alertDiv{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 2000;
	padding: 30px;
	background-color: rgba(30,30,30,0.9);
	color: white;
	border-radius: 15px;
}
#alertDiv h4{
padding: 20px;
}
#alertDiv button{
	float: right;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#enviarMat{
	position: absolute;
	right: 5%;
	bottom: 5%;
	border-radius: 15px;
	padding: 5px;
	background:  #2874a6 ;
	border: none;
	color: white;
	cursor: pointer;
}
body{
	position: static;
 top: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	overflow: hidden;
  background-image: linear-gradient(to right top, #446b6d, #006d8d, #0069bc, #005be4, #1230eb);
}
.contenLogin{
color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background: #1a1a1a ;
padding:10px;
width: 500px;
height: 400px;
border-radius: 15px;
}
.contact{ 
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
padding: 10px;
}
.contact a{
	margin: 10px;
} 
.imglogin{
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translate(-50%,-20%);
	margin-top: 60px;
}
#infoLogin{
	text-align: center;
	margin-top: 100px;
}
.inputsLogin{
	width: 50%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
	background: white;
	color: black;
	border-radius: 15px;
	border: none;
	padding: 15px;
	
}
.spam{  
	text-align: left;
	position: absolute;
	left: 10px;
	top: 1px;
	font-size: 10px;
}
#whatPassword{
	color: #7686ce  ;
	font-size: 12px;
	margin-top: 130px;
}
/*///////////////////////////////////*/
.loader {
  width: 30px;
  aspect-ratio: 1;
  background: #554236;
  display: grid;
  animation: l4-0 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background:#f77825;
  animation: inherit;
  animation-name: l4-1;
}
.loader::after {
  background: #60B99A;
  --s: 60deg;
}
@keyframes l4-0 {
  0%,20% {transform: rotate(0)}
  100%   {transform: rotate(90deg)}
}
@keyframes l4-1 {
  50% {transform: rotate(var(--s,30deg))}
  100% {transform: rotate(0)}
}

*{
	font-family: sans-serif;
}
.backgroundBody{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 0;
    object-fit:cover;
}
body{
	height: 100vh;
	overflow: hidden;
	padding: 0;
	 background-color:  #1d1d1d ;
/*background-image: url('../media/room38.png');
background-size: contain;
background-repeat: no-repeat;*/
}
.subBody{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	 width: 100%;
	 transition: 0.4s;
	 height: 100vh;

}
.buttonForNav{
	transition:0.2s;
	text-align: left;
	width: 100%;
	border: none;
	padding: 5px;
	border-radius: 2px;
	display: block;
	margin-top: 30px;	
	margin-bottom: 30px;	
	background: transparent;
	color:white;
    cursor: pointer;
	font-size: 16px;
}
.buttonForNav:hover{
	background: white;
	color: black;
    text-align: center;
}
.todoNav{
	opacity: 0.2;
	z-index: -100;
	transition: 2s;
	height: 0px;
	display: none;
}
#navPrymari{
	border-radius: 15px 15px 15px;
	box-shadow: 0 0 15px black;
	transition: 0.5s;
	width: 5%;
    background-image: linear-gradient(to right top, #051937, #002567, #002d97, #3b2cc4, #7712eb);
	position: absolute;
	overflow: hidden;
	left: 1%;
	top: 50%;
	transform: translate(1%,-50%);
	padding: 10px;
	height: 50vh;
	max-height: 50vh;
	cursor: pointer;
	z-index: 20;
}
#navPrymari:hover{
	width: 25%;
	height: auto;
	max-height:100vh!important;
	left: 0%;
	transform: translate(0%,-50%);
}
#navPrymari:hover > .todoNav{
	transition: 1s;
	opacity: 1;
	display: block;
	height: 100%;
	z-index: 2000;	
}
#navPrymari:hover > .sliderNav{
	display: none;
}
.containerQuestion{
/*  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
  border-radius: 20px;  
	position: absolute;
	width:40%;
	height:auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 15px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}
/*.sobre_poner_div{
	width: 100%;
	height: 100vh;
	z-index: 15;
	position: absolute;
		background-color:transparent;
	backdrop-filter: blur(0px);
}*/
#navPrymari:hover > .sobre_poner_div{
/*	display: none!important;*/

	background-color: rgba(30, 30, 30, 0.7);
	backdrop-filter: blur(40px);
}
.contenedorInputs{
	transition: 0.2s;
	width: 100%;
	border-radius: 20px;
	background-color:white;
	box-shadow: 0 0 10px black;
	padding: 20px;
    float:right;
}
.contenedorInputs:hover{
	box-shadow: 0 0 10px transparent;
}
.contenedorInputs input{
	display: block;
	border: solid 2px transparent;
	margin-top: 10px;
    color: white;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	color: black;
	box-shadow: 0 0 5px black;
	transition: 0.2s;
}

.contenedorInputs input:focus{
border: solid 2px royalblue;
z-index: 100;
width: 100%!important;
transform: translateX(5px);

}
#buttonSendServer{
	width: 100%;
		display:block;
    background:black;
    border: none;
    color: white;
    padding: 5px;
display: inline-block;
    border-radius: 5px;
    padding: 10px;
	cursor: pointer;
	transition: 0.2s;
}
#buttonSendServer:hover{
	border-radius: 20px;
}
.infoInputsQuestions{
	padding: 10px;
	width:40%;
     text-align: center;
     background:white;
     height: 100%;
     margin-top:5px;
      border-radius: 15px;
      box-shadow: 0 0 15px black;
}
.ulRequisitos{
	text-align: left;
	margin-top: 15px;
}
.ulRequisitos p{
	text-align: left!important;
	font-size: 15px;
	margin-bottom: 15px;
}
.ulRequisitos li{
	color: grey;
}
.sliderNav{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-size: 30px;
}
.todasLasPreguntas{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height:auto;
	width: auto;
	max-height: 70%;
	min-width: 30%;
	overflow: auto;
   border-radius: 10px;
	background: white;
	padding: 10px;
}
.containerListQuestion{
	 width: 100%;
	 height: 80%;
	 position: relative;
	 overflow: auto;
}
.questionForJS{
	transition: 0.2s;
	background: white;
	color: black;
	padding: 15px;
	margin:20px;
	width:auto;
	box-shadow: 0 0 5px black;
	border-radius: 15px;
}
.buttonRemoves{
	float: right;
	display: inline-block;
	cursor: pointer;
}
.home{
	position: absolute;
	left: 50%;
	top:50%;
	width: 100%;
	height: 100vh;
	transform: translate(-50%,-50%);
}
.home img{
  border-radius: 15px;
/*  box-shadow: 0 0 0 black;*/
}
#textSpamForTeacher{
	position: absolute;
	top: -20%;
	width: 120%;
	transition: 1s;
	color: white;
}
#EroorFetch{
	width: 100%;
	height: 100vh;
	padding: 30px;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
#EroorFetch img{ 
	z-index: -100;
  position: absolute;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
 }
 .prompt{
 	position: absolute;
 	bottom: 10%;
 	left: 50%;
 	transform: translate(-50%);
 }
 .prompt button{ 
border: none;
padding: 10px;
margin: 20px;
border-radius: 15px;
background: limegreen;
cursor: pointer;
  }
  #conexcionServicioTecnico_Error{
  	background-color: #f0920a ;
  	transition: 1s;
  }
  .doct{
	color:#27aaec;
}
.doct0{
	display: inline-block;
	color: black;
	font-size: 20px;
	opacity: 0;
	animation:  blink 0.4s infinite;
}
.doct1{
	display: inline-block;
	color:  black;
	font-size: 20px;
	opacity: 0;
	animation:  blink 0.6s infinite;
}
.doct2{
	display: inline-block;
	color:  black;
	font-size: 20px;
		opacity: 0;
	animation:  blink 0.8s infinite;
}
@keyframes blink{
	0%,20%,100%{
		opacity: 0;
	}
	50%{
		opacity:  1;
	}
}
#cancelBoxContainerQuestion{
float: right;
  display: inline-block;
  position: absolute;
  right: -10%;
  top: -10%;
  cursor: pointer;
}
#cancelBoxContainerQuestion:hover{ 
  scale: 110%;
 }
 #siguiente_Name{
 	background:#2646d7;
 	color: white;
 	padding: 10px;
 	border-radius: 10px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	border: none;
 	cursor: pointer;
 }
/* HTML: <div class="loader"></div> */
.loaderLOGIN {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color:white;
  animation: l15 1s infinite linear;
}
.loaderLOGIN::before,
.loaderLOGIN::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loaderLOGIN::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
.salaDeEspera{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loaderLOGINs2 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color:black;
  animation: l154 1s infinite linear;
}
.loaderLOGINs2::before,
.loaderLOGINs2::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l154 2s infinite;
}
.loaderLOGINs2::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l154{ 
  100%{transform: rotate(1turn)}
}
.salaEsperaLogin{width: 100%; position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);}
#status_salaEsperaLogin{
	color:whitesmoke;
	margin: 20px;
}
#createNewUserContainer{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  width: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  background: #1a1a1a;
  /*border: solid 1px white;*/
}
#formForCreateNewUser{
	width:auto;
	height:auto;
}
#formForCreateNewUser input{
	color: black;
	display: block;
	margin: 4%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
#formForCreateNewUser label{
	text-align: left;
	display: block;
	color: white;
}
#formForCreateNewUser button{
  position: absolute;
  right: 2%;
  bottom: 2%;
  padding: 1%;
  cursor: pointer;
	display: inline-block;
}
#cancelServerNewUser{
	position: absolute;
	top:-12%;
	left: -12%;
	cursor: pointer;
	display: inline-block;
}
.chatBot{
	position: absolute;
	top: 50%;
	right: -100%;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
/*	background: white;*/
	height: 10%;
	width: 100%;
}
.chatBot img{
	border-radius: 50%;
	width: 40%;
	float: left;
}
.chatBot p{
	margin-left: -15px;
	background: black;
	color: white;
	padding: 10px;
	border-radius: 0 15px 15px 15px;
}
#buttonPasswordVerificar{
	 	background:#2646d7;
 	color: white;
 	padding: 5px;
 	border-radius: 5px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	cursor: pointer;
}
#contentEstudiantes{
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);	
  height: 100vh;
  width: 80%;
}
#contentEstudiantes nav{
	position: absolute;
	top: 10%;
	right: 10%;
	width:auto;
/*	transform: translate();*/
}
#navForSearchcontentEstudiantes{
	display: flex;
	justify-content: center;
	align-items: center;
/*	background: white;*/
	border-radius: 20px;
	padding: 10px;
}
#navForSearchcontentEstudiantes input{
	padding: 10px;
	margin: 5px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 5px black;
}
#navForSearchcontentEstudiantes img{
	cursor: pointer;
	width: 10%;
	background: white;
	border-radius: 5px;
}
#containerEstudiantes{
width: 50%;
  height: 50%;
  background: white;
  position: absolute;
  left: 10%;
  border-radius: 15px;
  top: 50%;
  transform: translate(-10%,-50%);
  overflow: auto;
  scrollbar-width: thin;
  padding: 15px;
  box-shadow: 0 0 30px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.estudiantesContainerJS{
width: 100%;
  height: 15%;
  float: left;
  display: flex;
  padding: 10px;
  background: white;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.avatarEstudiantes{
 width:5%;
 border-radius: 50%;
}
.statusEstudiantes{
	transition: 0.4s;
	text-align: center;
	margin: 5px;
}
.menuBarsEstuendJs{
position: absolute;
right: 0;
cursor: pointer;
transition: 0.6s;
z-index: 100;
width: 5%;
margin: 5px;
}
.menuBarsEstuendJs:hover{
/*	transform: rotate(180deg);*/
}
#resultadoForSearch{
 position: absolute;
 right: 20%;
bottom: -80%;
 width: auto;
 height: auto;
	background: #1a1a1a;
	border-radius: 15px 0 15px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	padding: 5px;
}
.imgForSearch{
width: 20%;
display: inline-flex;
border-radius: 50%;
}
.nameUserForSearch{
	display: inline-flex;
	text-align: center;
 color: white;
}
.buttonsAddEstudent{
	position: absolute;
	right: -20%;
	width: 15%;
	background: white;
	border-radius: 5px;
	padding: 2px;
	cursor: pointer;
}
.buttonsAddEstudentNoFriends{
	position: absolute;
	right: -20%;
	width: 15%;
	border-radius: 5px;
	padding: 2px;
}
.chatBot2{
	position: absolute;
	bottom: -50%;
	right: 0;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
/*	background: white;*/
	height: 10%;
	width: 100%;
}
.chatBot2 img{
border-radius: 50%;
  width: 40%;
  float: left;
  position: absolute;
  left: -30%;
  top: 0;
  transform: translateY(-50px);
}
.chatBot2 p{
margin-left: -15px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 0 15px 15px 15px;
  width: 100%;
  margin: 10px;
}
.divButtonContainers{
    top: 20px;
    transition: 0.4s;
		padding: 10px;
		left: -100px;
		position: absolute;
		text-align: left;
		border-radius: 15px;
		width:auto;
		background: #1a1a1a;
}
/*.menuBarsEstuendJs:hover > .divButtonContainers{
		display : block!important;
	  top : 10px!important;		
}*/
.divButtonContainers button{
	margin: 5px;
	width: 100%;
	text-align: left;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(30, 30, 30, 0.7);
  border: none;
	color: white;
	box-shadow: 2px 2px 5px black;
}
.divButtonContainers button:hover{
	box-shadow: 2px 2px 5px  transparent;
}
#showPreguntas{
width: 30px;
margin: 5px;
cursor:pointer;
float: right;
display: inline-block;
}
#newPost{
width:30px;
margin: 5px;
cursor:pointer;
float: right;
}
.containerParrafoForQuestion{
	width: 90%;
	display: inline-block;
}
@media only screen and (max-width: 721px){
	.todasLasPreguntas{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height:auto;
	width: 90%;
	max-height: 70%;
	min-width: 30%;
	overflow: auto;
   border-radius: 10px;
	background: white;
	padding: 10px;
}
	#alertDiv{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 2000;
	padding: 30px;
	background-color: rgba(30,30,30,0.9);
	color: white;
	border-radius: 15px;
	width: 100%
}
.contenLogin{
color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background: #1a1a1a ;
padding:10px;
width: 80%;
height: 400px;
border-radius: 15px;
}
#navPrymari{
	border-radius: 15px 15px 15px;
	box-shadow: 0 0 15px black;
	transition: 0.5s;
	width: 1%;
    background-image: linear-gradient(to right top, #051937, #002567, #002d97, #3b2cc4, #7712eb);
	position: absolute;
	overflow: hidden;
	right:0%;
	top: 50%;
	transform: translate(1%,-50%);
	padding: 10px;
	height: 20vh;
	cursor: pointer;
	z-index: 20;
}
#navPrymari:hover{
	width: 50%;
	height: auto;
	left: 0%;
	transform: translate(0%,-50%);
}
.containerQuestion{
/*  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
  border-radius: 20px;  
	position: absolute;
	width:90%;
	height:auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 15px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}
}
.cajaForExa{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	height: 80%;
	background: white;
	border-radius: 15px;
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 1);*/

	padding: 20px;
}
#pushExaContainer{
width: 100%;
height: 100%;
overflow: auto;
}
.cajaPushExa{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	width: 90%;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: black;
	padding: 10px;
	margin: 20px;
	transition: 0.2s;
	position: relative;
}

.pAll{
		color: black;
	padding: 5px;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 10px;
}
.iconShowContainerExa{
cursor: pointer;
float: right;
}

.imgRemoveExa{
cursor: pointer;
float: right;
}
.iconEditExa{
cursor: pointer;
float: right;
}
.imgRemoveExa:hover{
	scale: 105%;
}
.imgRemoveExa:hover > .cajaPushExa{
box-shadow: 0 0 10px red!important;
}
.divShowBars{
	position: absolute;
  right: 10%;
  background: #1a1a1a;
  color: white;
  padding: 5px;
  border-radius: 11px;
  display: none;
  top: 10%;
}
.divShowBars img{float: right; cursor: pointer;}
.divShowBars button{
	display: block;
	background: white;
	color: black;
	margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 90%;
  text-align: left;
  cursor: pointer;
}
.divShowBars button:hover{
	background: royalblue;
	color: white;
}
#infoNoExa{
position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  font-family: inherit;}
#forExaButtonNewExaForInfo{
background: royalblue;
border-radius: 15px;
border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
#forExaButtonNewExaForInfo{
	background: royalblue;
  border-radius: 15px;
  border: none;
  position: absolute;
  right: 10%;
  bottom: 10%;
  padding: 10px;
  color: white;
  cursor: pointer;
}
#containerViewQuestionForExa{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 200;
	background: white;
	color: black;
	width: 50%;
	height: 50%;
	border-radius: 15px;
	padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#containerLOADDINGBydeleteExa{
		position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 200;
	background: white;
	color: black;
	width:auto;
	height:auto;
	border-radius: 15px;
	padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contenedorVerResultados{
		position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 200;
	background: white;
	color: black;
	width: 50%;
	height: 50%;
	border-radius: 15px;
	padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
    overflow-x: auto;
  overflow-x: hidden;
  padding-top: 25px;
}
#butonCerrarResultados{
	position: absolute;
right: 1%;
top: 1%;
background:black;
border-radius: 5px;
width: 35px;
cursor: pointer;
}
#cancelarRevicionDeExamanes{
position: absolute;
right: 5%;
top: 15%;
background: black;
color: white;
border: none;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
cursor: pointer;
}
#puntajeStatus{
position: absolute;
left: 5%;
width: auto;
bottom: 10%;
background-color:white;
border-radius: 15px;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width: 20%;
}
#nameExA{
	position: absolute;
left: 5%;
width:auto;
bottom: 20%;
background-color:white;
border-radius: 15px;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width: 20%;
}
#enviarResultados{
position: absolute;
right: 5%;
top: 5%;
background: royalblue;
color: white;
border: none;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
cursor: pointer;
max-width: 19%;
}
#sobrePonerForExaQuestion{
	opacity:0.9;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 100%;
height: 100%;
background: white;
z-index: 100;
background-color: rgba(250, 250, 250, 0.9);
border-radius: 15px;
}
.pushQuestionViemExa{
	background: white;
	color:black;
	padding: 5px;
	border-radius: 5px;
	width:100%;
	margin: 10px 0 10px 0;
	width: 100%;
	overflow: auto;
background-color: rgba(250, 250, 250, 0.9);
}
#buttonCloseContainerViewQuestion{
position: absolute;
right: -10%;
top: -20%;
background:black;
border-radius: 5px;
width: 35px;
cursor: pointer;
}
.pushDivElementResult{
	display: flex;
 cursor: pointer;
		background: white;
	color:black;
	padding: 5px;
	border-radius: 5px;
	width:100%;
	margin: 10px 0 10px 0;
	width: auto;
	overflow: auto;
background-color: rgba(250, 250, 250, 0.9);
}
.pushDivElementResult:hover{
background: royalblue;
color: white;
}
.pushDivElementResult2{
		display: flex;
 cursor: pointer;
		background: white;
	color:black;
	padding: 5px;
	border-radius: 5px;
	width:100%;
	margin: 10px 0 10px 0;
	width: auto;
	overflow: auto;
background-color: rgba(250, 250, 250, 0.9);
}
.pushDivElementResult2:hover{
	background: royalblue;
color: white;
}
/* HTML: <div class="loader"></div> */
.loaderByExaLoader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10);
  mix-blend-mode: darken;
}
.loaderByExaLoader:before,
.loaderByExaLoader:after{
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(#000 0 0) left,
    linear-gradient(#000 0 0) right;
  background-size: 20px 40px;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.loaderByExaLoader:after {
  height: 20px;
  width:  20px;
  margin: auto 0;
  border-radius: 50%;
  background: #000;
  animation: l10 1s infinite;
}
@keyframes l10{
  90%,100% {transform: translate(300%)}
}
.loaderContainer{
margin-left: 30px;
	width: 10%;
	height: 10%;
display: flex;
justify-content: center;
align-items: center;
}
#buttonCloseContainerExaList{
	background: black;
	position: absolute;
	cursor: pointer;
	width: 5%;
	right: 1%;
}
#containerListExa{
	position: absolute;
	z-index: 100;
	right: 10%;
	top: 50%;
	width: 100%;
	height: 100%;
	background: white;
	transform: translate(10%,-50%);
	border-radius: 15px;
	padding: 10px;
}
#pushExaContainerList{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: white;
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	width: 80%;
	height: 80%;
	overflow: auto;
	overflow-x: hidden;
}
.pushJSEXAContainer{
	width: 80%;
	border-radius: 15px;
	padding: 20px;
	font-weight: 15;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  cursor: pointer;
}
.pushJSEXAContainer:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.loaderByLIstExa{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
/* HTML: <div class="loader"></div> */
.loaderByForCjalist {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loaderByForCjalist:before,
.loaderByForCjalist:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset black;
  animation: l5 2.5s infinite;
}
.loaderByForCjalist:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5{
  0%    {inset:0    35px 35px 0   }
  12.5% {inset:0    35px 0    0   }
  25%   {inset:35px 35px 0    0   }
  37.5% {inset:35px 0    0    0   }
  50%   {inset:35px 0    0    35px}
  62.5% {inset:0    0    0    35px}
  75%   {inset:0    0    35px 35px}
  87.5% {inset:0    0    35px 0   }
  100%  {inset:0    35px 35px 0   }
}
#revisarExamenes{
		position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	background: white;
	transform: translate(-50%,-50%);

}
#pushToRevisarExamanes{
		position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: white;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 width: 50%;
 height: 90%;
 overflow: auto;
 overflow-x: hidden;
 scrollbar-width: thin;
 border-radius: 15px;
}
.divContainerOFRequestStudent{
	width: 90%;
	padding: 10px;
	height: auto;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	margin: 20px;
	border-radius: 10px;
}.divContainerOFRequestStudent textarea{
width: 90%;
padding: 30px;
border-radius: 15px;
border: none;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 margin: 10px;
 scrollbar-width: thin;
}
.promptOfRequestStudent{
	width: 80%;
}
.inputCommit{
	width: 50%;
	border: none;
	padding: 10px;
	border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.promptCorrecto{
		color:black;
	display: flex;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
}
.promptCorrecto input{
	cursor: pointer;
	margin-right: 10px;
}
.promptIncorrecto{
	color:black;
	display: flex;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
}
.promptIncorrecto input{
	cursor: pointer;
	margin-right: 10px;
}
.puntajeRevisarExamenes{
	margin: 5px;
	color: grey;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */

#sectionByLOader{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(250, 250, 250, 0.9);
	width: 100%;
	height: 100vh;
	}
.center{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);display: flex;justify-content: center;align-items: center;
}
#loaderBysendAndStudent div p{
	color: grey;
	padding: 30px;
}
/* HTML: <div class="loader"></div> */

/* HTML: <div class="loader"></div> */
.loaderBysendstudent {    
  width: 70px;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  mix-blend-mode: darken;
  display: grid;
  filter: blur(4px) contrast(10) hue-rotate(270deg);
}
.loaderBysendstudent:before,
.loaderBysendstudent:after {
  content:"";
  grid-area: 1/1;
  animation: l2 3s infinite linear;
  background:#ff00ff;
  border-radius: 50%;
}
.loaderBysendstudent:after {
  animation-delay: -.8s;
}
@keyframes l2{
  12.5% {border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%}
  25%   {border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%}
  37.5% {border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%}
  50%   {border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%}
  62.5% {border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%}
  75%   {border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%}
  87.5% {border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%}
}