#alertChat{
	transition: 0.6s;
	position: absolute;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	
	right: -100%;
	top: 10%;
	color: black;
	width: auto;
	padding: 20px;
	background: white;
	border-radius: 5px;
}
#contentByresultaados{
	position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    width: auto;
    height:auto;
    min-width: 50%;
    border-radius: 15px;
    transform: translate(-50%,-50%);
}
.pnameExamane{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
padding: 10px;
}
.divByJsToResultados{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	width: 90%;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: black;
	padding: 10px;
	margin: 20px;
	transition: 0.2s;
	position: relative;
}
.a_viem_result{
	color: blue;
	cursor: pointer;
}
.pall{
			color: black;
	padding: 5px;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 10px;
}
#modeAcademicSection{
position:absolute;
left:50%;
top:49%;
transform:translate(-50%,-49%);
width:100%;
height:101vh;
background-image: linear-gradient(to right top, #2611da, #2818d7, #2a1ed4, #2d23d0, #2f27cd, #1f3fd8, #0c52e1, #0063e8, #0084f6, #00a0fc, #00bbfc, #5fd3fb);
}
.contenLogin{
color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background: #1a1a1a ;
padding:5px;
width: 500px;
height: 400px;
border-radius: 15px;
z-index: 100;
}
#infoLogin{
	margin-top: 100px;
}
.inputsLogin{
	width: 45%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-55%);
	background: white;
	color: black;
	border-radius: 15px;
	border: none;
	padding: 15px;	
}
 #siguiente_Name{
 	background:#2646d7;
 	color: white;
 	padding: 10px;
 	border-radius: 10px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	border:solid 3px white;
 	cursor: pointer;
 }
 #siguiente_Name:hover{
 	border: solid 3px transparent;
 }
 .imglogin{
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translate(-50%,-20%);
	margin-top: 60px;
}.spam{  
	text-align: left;
	position: absolute;
	left: 10px;
	top: 1px;
	font-size: 10px;
}
#alertForNewLogin{
	transition: 0.2s;
	scale: 40%;
	text-align: center;
	z-index: 200;
	border-radius: 15px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 30%;
	height: 30%;
background-image: linear-gradient(to right top, #9e29ae, #0574ff, #004fb4, #007cff, #3567d9);
  color: white;
}
.promptForLoginAcademic{
position: absolute;
right: 5%;
bottom: 5%;
}
.promptForLoginAcademic button{
	margin:5px;
	padding: 5px;
	cursor: pointer;
}
#alertInfo{
	width: 100%;
    font-size: 19px;
    color:whitesmoke;
}
#sobrePonerAlert{
	z-index: 150;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100vh;
	background-color: rgba(30, 30, 30, 0.6);
	backdrop-filter: blur(10px);
}
#singupContainer{
	transition: 0.4s;
	width: 100%;
	height: 101vh;
	position: absolute;
	left: 50%;
	top: 49%;
	transform: translate(-50%,-49%);
	background: #1e1e1e;
	scale: 100%;
}
.login{
	position: absolute;
	left: 41%;
	top: 50%;
	transform: translate(-41%,-50%);
	background-color:#1e1e1e;
	 width: 70%;
	 height:600px;
	 border-radius: 25px;
}
.formularioBydiv{ 
  background:transparent;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
 }
 .login input{
 	background: white;
 	color: black;
 	width: 70%;
 	padding: 10px;
 }
 .login h1{
 	position: absolute;
 	top: -100px;
    left: -40px;
    color: white;
 }
 .buttonsSiguiente{
  width: 40%;
  transition: 0.2s;
  position: absolute;
  right: -30%;
  bottom: -30%;
  font-size: 15px;
  background: #0a435e;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 19px;
  border: solid 2px transparent;
 }
 .buttonsSiguiente:hover{
 	 border: solid 2px white;
 }
 .login button:hover{
 }
 #cancelarLogin{
 	border: none;
 	position: absolute;
 	background: transparent;
 	 color: white;
 	 top: 30px;
 	 font-size: 20px;
 	 right: 20px;
 	 width:auto;
 	 padding: 5px;
 	 border-radius:14px;	
 	 cursor:pointer;
 }
 .listoAnimation{
position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

 }
 .listoAnimation p{
 	color: white;
 	font-size: 25px;
 	text-align: center;
 }
 .promptByINputs{
background: transparent;
padding: 5px;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
 }
 .promptByINputs input{
 	float: left;
box-shadow: 0 0 3px black;
display: inline-block;
 }
 .promptByINputs img{
 	transition: 0.4s;
    background: ghostwhite;
    padding:5px;
    border-radius: 5px;
 	margin-left: 10px;
 	float: right;
 	width: 25px;
 	display: inline-block;
 	cursor: pointer;
 }
 .promptByINputs img:hover{
 	border-radius: 10px;
 }
 #timeForLanucherAutoLogin{
    transition: 0.4s;
 	text-align: center;
 	font-size: 15px;
 	color: grey;
 }
 #siguiente_Password{
 	background:#2646d7;
 	color: white;
 	padding: 10px;
 	border-radius: 10px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	border: none;
 	cursor: pointer;
 }
 button{
 	cursor: pointer;
 }
 body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/*mode rama principal*/
.nav_ecrtro{
	box-sizing: border-box;
	position: relative;
	padding-top: 30px;
	display: inline-block;
	transition: padding 0.4s, all 0.2s;
	display: block;
	background: #12151c ;
	height: 101vh;
	width: 70px;
	z-index: 1000000;
	top: 0;
	border-radius:1px;
	box-shadow: 0 0 20PX BLACK;
	cursor: pointer;
}
.nav_ecrtro a{
	cursor:pointer;
    width:90%;
	padding: 5px;
	margin: 5px;
	display:inline-block;
    text-decoration: none;
    color: white;
}
.nav_ecrtro a:hover{
	border-radius: 5px;
	background-color: rgba(30, 30, 30, 6);}
.nav_ecrtro i{
	padding: 10px;
	margin-right: 15px;
	color: white;
	display: inline-block;
	
}
.userImg{
	transition:  0.4s!important;
	transition: width 0.6s!important;
	transition:  margin 10s!;
	width: 50px;
	margin: 10px;
	border-radius: 50%;
}
.certificate{
	color: #1e56be !important;
}
.userName{
	width: 200px;
	transition: 0.4s;
	color: transparent;
    padding: 10px;
}
#statusName{
	color: transparent;
	font-size: 12px;
}
#nav_a_containers{
	overflow-y: auto;
	height: 100%;
	overflow-x: hidden;
	scrollbar-width: thin;
}
.p_nav_a{
   font-size: 1px;
		width: 1px;
	display: none;
}
.barraExpandirNav{
	position: absolute;
	top: 50%;
	right: -66%;
	transform: rotate(-90deg);
	transition: 0.4s;
	border-radius: 0 0 8px 8px;
  background: #12151c;
/*	box-shadow: 0 0 20PX BLACK;*/
}
.sobrePonerForNav{
	top:-10px;
	 position: absolute;
	 width: 100%;
	 z-index: 1000;
	 height: 103vh;
	 background-color: rgba(30, 30, 30, 0.2);
	 backdrop-filter: blur(10px);
	 display: none;
}
#statusExaPendiente{
	display: inline-block;
	padding: 15px;
	color: black;
	background: white;
	border-radius: 5px;
	width:70%;
}
#statusResultadoForExa{
	display: inline-block;
		padding: 15px;
	color: black;
	background: white;
	border-radius: 5px;
	width:70%;
}
.buttonViemResultadosExa{
	width: 20%;
	height: 100%;
	padding-top: 1%;
	margin: 1%;
	display: inline-block;
		background:white;
	color: black;
	border: solid 2px black;
	border-radius: 6px;
}
.buttonViemExamanesPendientes{
	width: 20%;
	height: 100%;
	padding-top: 1%;
	margin: 1%;
	display: inline-block;
	background:white;
	color: black;
	border: solid 2px black;
	border-radius: 6px;
}
#homeSection{
	width: 40%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.bInfoFullMateri{
	color: grey;
	font-size: 12px;
}
#section_Exa{
overflow: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-image: url('../media/modoacdemicoBackground.png');
background-size: cover;
background-repeat: no-repeat;
width: 80%;
height: 80%;
border-radius: 15px;
}
.pushElementExa{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	width: 90%;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: black;
	padding: 10px;
	margin: 20px;
}
.pForPush{
	color: black;
	padding: 5px;
	border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 10px;
	background: white;
}
.pForPush b{
	color:grey;

}
.imgExa{
width:50px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}
#contenedorHcaerExa{
position: absolute;
left: 50%;
top: 50%;
transform:translate(-50%,-50%);
width: 100%;
height: 100%;
background: rgba(250, 250, 250, 0.9);
}
.elements p{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 color: black;
 padding: 10px;
 border-radius: 5px;
 width: auto;
 display: inline-block;
}
.elements {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 padding: 20px;
 border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	transform: translate(-50%,-50%);
	background: white;
}
#buttonInit_Exa{
	background: black;
	color: white;
	display: block;

}
#buttonCloseForElements{
	position: absolute;
	right: -10%;
	top: -10%;
	background: black;
	padding: 2px;
	border-radius: 5px;
	width: 35px;
	cursor: pointer;
}
#buttonInit_SendExa{
		background: black;
	padding: 2px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 10px;
	float: right;
	margin-right: 20px;
	margin-top: 50px;
}
#byExaCreatorAndSend{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	background: white;
	transform: translate(-50%,-50%);
	z-index: 1000001;
}
#push_JS_ExaCreator{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: white;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 width: 50%;
 height: 90%;
 overflow: auto;
 overflow-x: hidden;
 scrollbar-width: thin;
 border-radius: 15px;
}
.questionContainerJs{
	width: 100%;
	height: 20%;
	color: black;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.questionContainerJs label{
 display: block;
 margin-bottom: 10px;
}
.questionContainerJs textarea{
width: 90%;
height: 70%;
max-height: 98%;
max-width: 90%;
border-radius: 15px;
border: none;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
color: black;
padding: 15px;
}
#timeLimet{
position: sticky;
top: 0;
width:100%;
background: royalblue;
padding: 5px;
transition:all 0s ease 0s;
}
#timeLimet:hover{
	width: 100%;
}
.bForP{
	display: block;
	color: black!important;
}
.loaderBySendExaForTeacher{
 position: absolute;
 left: 50%;
 top:50%;	
 transform: translate(-50%,-50%);
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 background-color: rgba(250,250, 250, 1);
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.loaderBySendExaForTeacher p{
	font-size: 15px;
	color: grey;
	text-align: center;
	margin-left: 30px;
} 


.loaderByCssSendTeachers {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10);
  mix-blend-mode: darken;
}
.loaderByCssSendTeachers:before,
.loaderByCssSendTeachers:after{
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(#000 0 0) left,
    linear-gradient(#000 0 0) right;
  background-size: 20px 40px;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.loaderByCssSendTeachers:after {
  height: 20px;
  width:  20px;
  margin: auto 0;
  border-radius: 50%;
  background: #000;
  animation: l10 1s infinite;
}
@keyframes l10{
  90%,100% {transform: translate(300%)}
}
#alertModeNoExit{
	font-size: 10px;
	position: absolute;
	right: 1%;
	bottom: 1%;
	padding: 10px;
	border-radius: 5px;
	color:black;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#exitAppInfo{
	padding: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
background-color: rgba(250, 250, 250, 1);
color : black;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 border:  solid 2px royalblue;
}
#exitAppInfo p{
 font-size: 19px;

}
#exitAppInfo button{
	display: block;
	margin-top: 30px;
	padding: 10px;
	float: right;
	color: white;
	background: black;
}
#exitAppInfo b{
	color: grey;
	font-size: 20px;
}
.divpushElementExa{
	border: solid 3px transparent;
}
.divpushElementExa:hover{
	border: solid 3px royalblue;
}
#infoNoExa{
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color:white;
	font-size: 20px;
	background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#infoNoExa img{
width: 130px;
display: inline-block;
}
.ByInfonoExa{
	display: inline-block;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);	
 	padding: 5px;
	border-radius: 10px;
	background-color: black;
}
@media only screen and (max-width:721px){/*////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////nav_ecrtro/////////////////////////////////////////////////////////////*/
.divByJsToResultados{
	padding: 0px;
}
#contentByresultaados{
width: 100%;
max-height: 50%;
height: auto;
}
#alertModeNoExit{
	font-size: 10px;
	position: absolute;
	right: 1%;
	bottom: 5%;
	padding: 10px;
	border-radius: 5px;
	color:black;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.questionContainerJs{
	width: 90%;
	height: 20%;
	color: black;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#push_JS_ExaCreator{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: white;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 width: 100%;
 height: 70%;
 overflow: auto;
 overflow-x: hidden;
 scrollbar-width: thin;
 border-radius: 15px;
}
#buttonCloseForElements{
	position: absolute;
	right: 1%;
	top: -20%;
	background: black;
	padding: 2px;
	border-radius: 5px;
	width: 35px;
	cursor: pointer;
}
.elements p{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 color: black;
 padding: 10px;
 border-radius: 5px;
 width: auto;
 display: inline-block;
}
.elements {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 padding: 20px;
 border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	height: auto;
	max-height:50%;	
	transform: translate(-50%,-50%);
	background: white;

}

#section_Exa{
overflow: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-image: url('../media/modoacdemicoBackground.png');
width: 100%;
height: 100%;
border-radius: 15px;
padding-top: 50%;
}
#pushJS_Section_Exa{
	height: 84%;
overflow: auto;
overflow-x: hidden;
}
.nav_ecrtro{
	box-sizing: border-box;
	padding-top: 30px;
	display: inline-block;
	transition: padding 0.4s, all 0.2s;
	display: block;
	background: #12151c ;
	height: 101vh;
	width: 70px;
	z-index: 1000000;
	position: absolute;
	left: -70px;
	border-radius:1px;
	box-shadow: 0 0 20PX BLACK;
	cursor: pointer;
	padding-left: 60px;
}
.barraExpandirNav{
	position: absolute;
	top: 5%;
	right: -66%;
	transform: rotate(-90deg);
	transition: 0.4s;
	border-radius: 0 0 8px 8px;
  background: #12151c;
/*	box-shadow: 0 0 20PX BLACK;*/
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenLogin{
color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background: #1a1a1a ;
padding:5px;
width: 90%;
height: 40%;
border-radius: 15px;
z-index: 100;
}
#infoLogin{
	margin-top: 100px;
}
.inputsLogin{
	width: 45%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-55%);
	background: white;
	color: black;
	border-radius: 15px;
	border: none;
	padding: 15px;	
}
 #siguiente_Name{
 	background:#2646d7;
 	color: white;
 	padding: 10px;
 	border-radius: 10px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	border:solid 3px white;
 	cursor: pointer;
 }
 #siguiente_Name:hover{
 	border: solid 3px transparent;
 }
 .imglogin{
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translate(-50%,-20%);
	margin-top: 60px;
}.spam{  
	text-align: left;
	position: absolute;
	left: 10px;
	top: 1px;
	font-size: 10px;
}
#alertForNewLogin{
	transition: 0.2s;
	scale: 40%;
	text-align: center;
	z-index: 200;
	border-radius: 15px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	height: 30%;
background-image: linear-gradient(to right top, #9e29ae, #0574ff, #004fb4, #007cff, #3567d9);
  color: white;
}
.promptForLoginAcademic{
position: absolute;
right: 5%;
bottom: 5%;
}
.promptForLoginAcademic button{
	margin:5px;
	padding: 10px;
	cursor: pointer;
}
#alertInfo{
	width: 100%;
    font-size: 19px;
    color:whitesmoke;
}
#sobrePonerAlert{
	z-index: 150;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100vh;
	background-color: rgba(30, 30, 30, 0.6);
	backdrop-filter: blur(10px);
}
#singupContainer{
	transition: 0.4s;
	width: 100%;
	height: 101vh;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background:transparent;
	scale: 100%;
}
.login{
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-0%,-50%);
	background-color:transparent;
	 width: 100%;
	 height:600px;
	 border-radius: 25px;
}
.formularioBydiv{ 
  background:transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
 }
 .login input{
 	background: white;
 	color: black;
 	width: 70%;
 	padding: 10px;
 }
 .login h1{
 	position: absolute;
 	top: -100px;
    left: 10px;
    color: white;
 }
#pWarnig{
left: 10px!important;
color: white!important;
}
#ppWarnig{
left: 10px!important;
color: white!important;
}
 .buttonsSiguiente{
  width: auto;
  transition: 0.2s;
  position: absolute;
  right: 1%;
  bottom: -80%;
  font-size: 15px;
  background: #0a435e;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 19px;
  border: solid 2px transparent;
 }
 #buttonLitoLogin{
 	bottom: -40%!important;
 }
 .buttonsSiguiente:hover{
 	 border: solid 2px white;
 }
 .login button:hover{
 }
 #cancelarLogin{
 	border: none;
 	position: absolute;
 	background: transparent;
 	 color: white;
 	 top: -10px;
 	 font-size: 20px;
 	 right: 20px;
 	 width:auto;
 	 padding: 5px;
 	 border-radius:14px;	
 	 cursor:pointer;
 }
 .listoAnimation{
position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

 }
 .listoAnimation p{
 	color: white;
 	font-size: 25px;
 	text-align: center;
 }
 .promptByINputs{
background: transparent;
padding: 5px;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
 }
 .promptByINputs input{
 	float: left;
box-shadow: 0 0 3px black;
display: inline-block;
 }
 .promptByINputs img{
 	transition: 0.4s;
    background: ghostwhite;
    padding:5px;
    border-radius: 5px;
 	margin-left: 10px;
 	float: right;
 	width: 25px;
 	display: inline-block;
 	cursor: pointer;
 }
 .promptByINputs img:hover{
 	border-radius: 10px;
 }
 #timeForLanucherAutoLogin{
    transition: 0.4s;
 	text-align: center;
 	font-size: 15px;
 	color: grey;
 }
 #siguiente_Password{
 	background:#2646d7;
 	color: white;
 	padding: 10px;
 	border-radius: 10px;
 	position: absolute;
 	right: 5%;
 	bottom: 5%;
 	border: none;
 	cursor: pointer;
 }
}